<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/badge_reward"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".FormLatihanWajibKelompok"
            android:exported="false" />
        <activity
            android:name=".FormTambahKelompok"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaKelompok"
            android:exported="false" />
        <activity
            android:name=".FormQuestionAnswer"
            android:exported="false" />
        <activity
            android:name=".FormTambahPpiAnggota"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaPPi"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaProdukBiaya"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaRencanaBiaya"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaTandaTangan"
            android:exported="false" />
        <activity
            android:name=".FormTambahAnggotaPendapatan"
            android:exported="false" />
        <activity
            android:name=".FormTambahIndexRumah"
            android:exported="false" />
        <activity
            android:name=".FormTambahAnggotaKeluarga"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaFotoKtp"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaFoto"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaPendapatan"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaIndexRumah"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaKeluarga"
            android:exported="false" />
        <activity
            android:name=".ListAnggotaUk"
            android:exported="false" />
        <activity
            android:name=".FormTambahAnggotaActivity"
            android:exported="false" />
        <activity
            android:name=".UjiKelayakanActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.komida.co.id.mdisujikelayakan.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>